body{
    background: #ebebeb;
}
#formulario{
    margin: 15px auto;
    background: #949494;
    padding: 15px;
}
#content{
    margin: 15px auto;
}
.tb-header{
    background: #868686;
}
#tbody-content{
    background: #10abc7;
}
table{
    border: black;
}